---
import Layout from '../../layouts/Layout.astro';
import ModelList from '../../components/ModelList';
import { getAllModels } from '../../lib/models';

const models = await getAllModels();
---

<Layout title="Modelos">
  <div class="min-h-screen pt-32 px-6">
    <div class="max-w-screen-lg mx-auto">
      <h1 class="text-3xl font-light mb-16 text-center">MODELOS</h1>
      <ModelList models={models} client:load />
    </div>
  </div>
</Layout>