---
import Layout from '../../layouts/Layout.astro';
import ModelList from '../../components/ModelList';
---

<Layout title="Nuestros Modelos">
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold text-center mb-12">Nuestros Modelos</h1>
    <ModelList client:load />
  </div>
</Layout>