---
import Layout from '../layouts/Layout.astro';
import ModelList from '../components/ModelList';
---

<Layout title="Modelos Gold">
  <div class="min-h-screen pt-32 px-6">
    <div class="max-w-screen-lg mx-auto">
      <h1 class="text-3xl font-light mb-16 text-center text-white">MODELOS GOLD</h1>
      <ModelList category="GOLD" showTitle={false} client:load />
    </div>
  </div>
</Layout>