---
import Layout from '../layouts/Layout.astro';
import ModelList from '../components/ModelList';
import Hero from '../components/hero/Hero.astro';
---

<Layout title="Las Mejores Scorts VIP en Santiago y todo Chile.">
  <Hero />
  
  <!-- Models Grid by Category -->
  <section class="bg-black py-24 px-6">
    <div class="max-w-[1200px] mx-auto space-y-48">
      <ModelList category="VIP" client:load />
      <ModelList category="PREMIUM" client:load />
      <ModelList category="GOLD" client:load />
    </div>
  </section>
</Layout>

<style>
  .overflow-x-auto::-webkit-scrollbar {
    display: none;
  }

  .overflow-x-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>